<div class="container">
  <div class="row my-5">
    <div class="col-sm-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>マイページ</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6">
      <div class="d-flex flex-wrap">
        <div class="flex-item">
          <div class="card　border-0">
              <%= attachment_image_tag @product, :image, :fill, 500, 300 %>
              <p class="card-title">
                <%= @product.name %>
              </p>
              <p class="card-title">
                <%= @product.introduction %>
              </p>
              <p class="card-title">
                <%= @product.kodawari %>
              </p>
          </div>
        </div>
      </div>        
    </div>
    <div class="col-sm-3">
      レシピ一覧が入る
    </div>
  </div>
</div>