<div class="container">
  <div class="row my-5">
    <div class="col-sm-3">
      <%= render 'public/members/mypage', member: current_member %>
    </div>
<!--会員のレシピ投稿一覧を表地-->
    <div class="col-sm-3">
      <%= render 'public/recipes/recipe', recipes: @recipes %>
    </div>
  </div>
</div>